<div class="content">
<form #fg="ngForm" (ngSubmit)="apply($event)">
  <div class="configField">
    <mat-form-field>
      <input name="launchDate" matInput placeholder="Launch date"
      [(ngModel)]="tripConfig.launchDate" (ngModelChange)="apply($event, LAUNCH_DATE)"
      [matDatepicker]="picker" [disabled]="!online">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint>For max days, sun timing, moon phases</mat-hint>
    </mat-form-field>
  </div>

  <div class="configField">
    <mat-form-field>
      <input matInput name="days" #days min="1" [max]="tripConfig.maxDays" type="number" [(ngModel)]="tripConfig.days" (change)="apply($event, DAYS)"/>
      <span matSuffix>days on the river (1-{{tripConfig.maxDays}})</span>
      <mat-hint>Determines takeout date</mat-hint>
    </mat-form-field>
  </div>
  <div *ngIf="tripConfig.days > tripConfig.maxDays" class="errorMessage">
    Based on your launch date and takeout location, the maximum days on the river is {{tripConfig.maxDays}}.
  </div> 
  <div class="configField">
    <mat-form-field>
      <mat-label>Takeout</mat-label>
      <input matInput disabled name="takeoutDate" [value]="tripConfig?.takeoutDate | date:'longDate'" />
    </mat-form-field>
  </div>

  <div class="configField">
    <mat-checkbox name="exchanges" [checked]="tripConfig.exchanges" [(ngModel)]="tripConfig.exchanges" (change)="apply($event)" >Exchanges at Phantom?</mat-checkbox>
    <br/><mat-hint>Prevents selecting Exchange Camps</mat-hint>
  </div>

  <div class="configField">
    <mat-checkbox name="hualapaiPermit" [checked]="tripConfig.hualapaiPermit" [(ngModel)]="tripConfig.hualapaiPermit" (change)="apply($event)" >Hualapai Permit?</mat-checkbox>
    <br/><mat-hint>Prevents selection of stops on Hualapai reservation</mat-hint>
  </div>

  <div class="configField">
    <fieldset>
      <legend>Takeout</legend>
      <div>
        <mat-radio-group name="takeout" [(ngModel)]="tripConfig.takeoutMileMarker" labelPosition="after" [value]="tripConfig.takeoutMileMarker" (change)="apply($event, TAKEOUT)">
          <mat-radio-button name="diamondCreek" [value]="takeoutMileMarkers.diamond" >Diamond Creek</mat-radio-button><br/>
          <mat-radio-button name="pearceFerry" [value]="takeoutMileMarkers.pearce" >Pearce Ferry</mat-radio-button>
        </mat-radio-group>
      </div>
    </fieldset>
    <mat-hint>Hides Diamond to Pearce selections as needed</mat-hint>
  </div>

  <div class="configField">
    <mat-form-field>
      <mat-label>Expected flow</mat-label>
      <input matInput name="cfs" type="number" [(ngModel)]="tripConfig.cfs" (change)="apply($event)"/>
      <span matSuffix>cfs</span>
      <mat-hint>Used in tide calculations</mat-hint>
    </mat-form-field>
  </div>

  <div class="configField">
    <mat-slide-toggle [checked]="tripConfig.darkMode" [(ngModel)]="tripConfig.darkMode" (change)="apply($event)">Dark Mode</mat-slide-toggle>
  </div>
</form>
</div>
