.content {
    padding: 10px 0 64px;
}

.configField {
    max-width: 300px;
    padding-top: 15px;
    padding-bottom: 15px;
}
mat-label {
    font-weight: bold;
}
.mile {
    display: inline-flex;
    width: 60px;
}
.mileSeparator {
    display: inline-flex;
    padding-left: 15px;
    padding-right: 15px;
}

mat-radio-button {
    margin: 5px;
}

.errorMessage {
    color: #d00000;
}
