<div class="content">
<p>History: I created a spreadsheet in googlesheets. It was pretty good and I wanted to share it but
  there was was some "input" required by the user (the month of the trip), and I couldn't figure out
  a way to share the document in such a way as to allow a user to provide the input without impacting 
  other users. Yes, they could copy the doc, but then any changes that I would subsequently make would 
  not make their way into the copies.</p>
<p>So I decided to create a progressive web app (i.e. one that will function well when the user is
  offline). This app is the result of that desire.</p>
<p>The data used by this app is an accumulation of many sources formatted in a way that is more useful
   to me and hopefully to you. I don't want to shortchange the creators of the content and tools, so I'm
   crediting them here.
</p>
<p>This is Version 3.2.10, and the online state is {{online}}.</p>
<ol>
  <li>The tide table was created by taking the data on this
    <a *ngIf="online" href="https://rrfw.org/RaftingGrandCanyon/Tide_Tables">wiki</a>
    <span *ngIf="!online">wiki</span> and making each flow more
    consistent and then simplifying the output. I have subsequently received permission to update
    that wiki and have copied that table at the bottom.
  </li>
  <li>The sunrise and sunset data was pulled from a
    <a *ngIf="online" href="https://rrfw.org/sites/default/files/documents/GrandCanyonAlmanac_July_2000.pdf">document</a>
    <span *ngIf="!online">document</span>
    created by Jeff Sorensen, and the copyright is his.<br />
      3rd Printing. Copyright 1998 & All Rights Reserved by Jeff Sorensen<br/>
      JSorensen@azgfd.gov<br/>
      <br />I updated the mileages to reflect the changes after the 2007 USGS remeasure to match the values
      in #5
  </li>
  <li>
      The starting point for the
      <a *ngIf="online" href="http://gcpba.org/wordpress/wp-content/uploads/2012/07/Grand-Canyon-Colorado-River-Map-Post-to-GCPBA.pdf">
      mile map</a><span *ngIf="!online">mile map</span> was authored by Elden Saathoff. I was unable to make contact, 
      but I've made significant additions and modifications, including updating the mileages.
  </li>
  <li>The hiking information was pulled from "Day Hikes from the River" 4th Edition by Tom Martin</li>
  <li>Mile markers were reset to those found in the "Guide to the Colorado River in the Grand Canyon"
      7th Edition by Tom Martin and Duwain Whitis. This will be updated to the 8th edition as time permits</li>
  <li>I must give credit to the <a *ngIf="online" href="https://www.pdftoexcel.com/">PDF to Excel</a>
      <span *ngIf="!online">PDF to Excel</span>
      website/service for enabling the conversion of the mile map and sun info pdfs into excel format.
      There is simply no way that I could (or would) have taken the time to re-enter all of that data.
      Also, from a technical stand point, I could not have been more shocked to see how well it
      converted the sun data (it is a scan of booklet).
  </li>
  <li>This also deserves a mention: I use 
      <a *ngIf="online" href="https://www.waterproofpaper.com/">PuffinPaper</a>
      <span *ngIf="!online">PuffinPaper</span>, 8mil for foldable, double sided 
      printing to print the data from my spreadsheet, even though I don't actually
      use a spreadsheet any longer.
  </li>
  <li>
    <a *ngIf="online" href="https://www.twitch.tv/frostydev">Arron Frost @aaronfrost</a>
    <span *ngIf="!online">Arron Frost @aaronfrost</span> and
    <a *ngIf="online" href="https://www.twitch.tv/schwartydev">Justin Schwartzenberger @scharty</a>
    <span *ngIf="!online">Justin Schwartzenberger @scharty</span>! These guys were
    doing twitch streams and asked what people wanted to see. I suggested a progressive web app, and
    here I am. Many thanks gents!
  </li>
  <li>Wdisseny.com provides an api for getting 
    <a *ngIf="online" href="http://www.wdisseny.com/lluna/?lang=en">the phases of the moon</a>
    <span *ngIf="!online">the phases of the moon</span>. This is a
    web service that returns some cool info, but the svg of the moon was so interesting.
  </li>
  <li>Tom Martin had some great suggestions before a 2019 trip, and I'm doing my best to implement some of those changes.</li>
  <li>Richard Weiss used the app on his 2021 trip and had several enhancement requests. Many have been implemented, and more
    are to come.</li>
  <li>Other links:
    <ul *ngIf="online">
      <li><a href="https://waterdata.usgs.gov/az/nwis/uv?cb_00060=on&format=gif_default&site_no=09380000" 
          title="Lee's Ferry flow" aria-label="Lee's Ferry flow">Flow at Lee's Ferry</a></li>
      <li><a href="https://waterdata.usgs.gov/nwis/uv?cb_00060=on&format=gif_default&site_no=09402500" 
          title="Phantom Ranch flow" aria-label="Phantom Ranch flow">Flow at Phantom Ranch</a></li>
      <li><a href="https://waterdata.usgs.gov/az/nwis/uv?cb_00060=on&format=gif_default&site_no=09404200" 
          title="Diamond Creek flow" aria-label="Diamond Creek flow">Flow at Diamond Creek</a></li>
    </ul>
    <span *ngIf="!online">This is where the flow links go when you're online.</span>
  </li>
  <li>If you suggestions for improvement, please let me know: bluesotar@hotmail.com</li>
</ol>
</div>
<div class="reset-button">
  <fieldset>
    <legend>App Refresh</legend>
    <button mat-flat-button (click)="refresh()" color="primary" aria-label="Refresh app from server">Refresh app from server</button> 
    <p>This option is only here until I can find a cleaner way that works in most browsers and on the home screen version of the app.</p>
  </fieldset>
</div>
