textarea {
    height: 150px;
    color: #000;
}

.mat-form-field {
    display: inline;
}

#saveNotes {
    margin-left: 10px;
}
.detailGroup {
    margin-bottom: 10px;
}

.field-group {
    display: flex;
    flex-wrap: wrap;
    > .name  { width: 35%; }
    > .value  { width: 65%; }
}
.field-group-cell {
    box-sizing: border-box;
    flex-grow: 1;
    padding: 0.2em .5em;
    overflow: hidden; // Or flex might break
    > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }
}
