<div class="content">
  <div class="detailGroup">
    <fieldset>
      <legend>Trip Log</legend>
        <div class="detailGroup">
          <button mat-flat-button (click)="done()" color="primary" id="saveNotes" aria-label="Save Notes">Save</button>
          <button mat-stroked-button (click)="addTS()" color="basic" aria-label="Add timestamp">Insert Time</button>
        </div>
    
        <form>
          <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Notes" name="notes" #notes [(ngModel)]="noteData.text" lines="50">
            </textarea>
          </mat-form-field>
        </form>
    
    </fieldset>
  </div>

</div>
