
table { 
    font-family: Arial, Helvetica, sans-serif;
}

thead {
    background-color: lightgray;
    color: black;
    vertical-align: bottom;
}
td {
    text-align: right;
    width: 50px;
}
.rise {
    width: 50px;    
}
.at4 {
    background-color: #cfe2f3;
    color: black;
}
.at43 {
    background-color: #d9d2e9;
    color: black;
}
.at45 {
    background-color: #fff2cc;
    color: black;
}
.delay {
    width: 70px;
}

.at5 {
    background-color: #e6b8af;
    color: black;
}
.place {
    text-align: left;
    width: 185px;
    padding-left: 5px;
}