<div class="content">
  <mat-form-field>
    <mat-label><mat-icon>search</mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterValue" #input>
  </mat-form-field>
<table mat-table [dataSource]="listItems" class="mat-elevation-z8">
    <ng-container matColumnDef="mile">
      <th mat-header-cell *matHeaderCellDef>Mile</th>
      <td mat-cell class="mile" *matCellDef="let place"> {{place.mile.toFixed(1)}} </td>
    </ng-container>
    <ng-container matColumnDef="place">
      <th mat-header-cell class="place" *matHeaderCellDef>Camp</th>
      <td mat-cell class="place" *matCellDef="let place"> {{place.place}} </td>
    </ng-container>
    <ng-container matColumnDef="delay40">
      <th mat-header-cell *matHeaderCellDef>Hours<br>Delay@ <br>4mph <br>&lt;=15K</th>
      <td mat-cell class="at4" *matCellDef="let place"> {{place.tides.at4mph.delay}} </td>
    </ng-container>
    <ng-container matColumnDef="rise40">
      <th mat-header-cell *matHeaderCellDef>Rise@</th>
      <td mat-cell class="at4" *matCellDef="let place"> {{place.tides.at4mph.rise}} </td>
    </ng-container>
    <ng-container matColumnDef="delay43">
      <th mat-header-cell *matHeaderCellDef>Delay@ <br>4.3mph</th>
      <td mat-cell class="at43" *matCellDef="let place"> {{place.tides.at43mph.delay}} </td>
    </ng-container>
    <ng-container matColumnDef="rise43">
      <th mat-header-cell *matHeaderCellDef>Rise@</th>
      <td mat-cell class="at43" *matCellDef="let place"> {{place.tides.at43mph.rise}} </td>
    </ng-container>
    <ng-container matColumnDef="delay45">
      <th mat-header-cell *matHeaderCellDef>Delay@ <br>4.5mph<br>15K-20K</th>
      <td mat-cell class="at45" *matCellDef="let place"> {{place.tides.at45mph.delay}} </td>
    </ng-container>
    <ng-container matColumnDef="rise45">
      <th mat-header-cell *matHeaderCellDef>Rise@</th>
      <td mat-cell class="at45" *matCellDef="let place"> {{place.tides.at45mph.rise}} </td>
    </ng-container>
    <ng-container matColumnDef="delay50">
      <th mat-header-cell *matHeaderCellDef>Hours<br>Delay@ <br>5mph <br>&gt;20K</th>
      <td mat-cell class="at5" *matCellDef="let place"> {{place.tides.at5mph.delay}} </td>
    </ng-container>
    <ng-container matColumnDef="rise50">
      <th mat-header-cell *matHeaderCellDef>Rise@</th>
      <td mat-cell class="at5" *matCellDef="let place"> {{place.tides.at5mph.rise}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>   
  </table>
  <div>
    <img src="../../../assets/images/FlowMph.jpeg" title="Flow speed based on cfs" />
  </div>
</div>
