<div class="content">
  <p>These is a basic use guide to this Grand Canyon Trip Planner. 
    Hopefully, this page will become obsolete if I can discover a way to make the app more intuitive. 
    Until then, use these steps to setup your trip and enjoy the app.</p>
    <p>All options can be accessed via the "hamburger" menu on the upper left. There are shortcuts for 
      several items (destinations, itinerary, duty roster, trip log, tides) in the bottom toolbar and on the 
      upper right of the top tool bar (share/settings). </p>
  <ol>
    <li><span class="pageConfig">Settings</span>
      <ul>
        <li>Launch Date - alters the available sun at certain camps and the phases of the moon.</li>
        <li>Takeout - specifies the takeout location. Hides items past Diamond if that's the takeout.</li>
        <li>Days on the river - since you don't have to do the whole time, this is used to calculate the 
          takeout date. It'll probably come into play when I get the duty roster figured out.</li>
        <li>Exchanges, permit, and takeout options - limits options on the Destinations page.</li>
        <li>Expected flow - alters the time for the rising tide. This doesn't actually help much right now.
          I need to come up with a better way to determine the tides. This is so much more complex than it
          seems. But I'm still hoping to find a calculation that might work.</li>
        <li>Dark mode - alters the look of the app. Might be helpful based on where and when it's in use.</li>
      </ul>
    </li>
    <li><span class="pageConfig">Set Destinations</span>
      <div>
        Several functions are less than intuitive, so please read this section to get the most out 
        of the app and to make your life easier.
        <ul>
          <li>Type filters - limit the types of items in the list.
            <ul>
              <li>All - no additional filters.</li>
              <li>Favorites - a pre-filtered list of "must-see" items</li>
              <li>Other options can be combined to let you focus on certain activities.</li>
            </ul>
          </li>
          <li>Miles from - This is the distance between a starting point and the items downstream. 
            Touch this column on a rown to set the starting point. Example: touching your current location
            will let you see how far it is until camp or a significant rapid. Or, touch your current camp to
            make it easy to pick your next camp based on the miles you'd like to make.</li>
          <li>Mile/(info) - The river mile of the item, which matches the RiverMaps guide. 
            Touch this column on a row to pop up a dialog with additional data and an ability
            to enter notes on the item. If an item is not selected, adding notes will have it 
            show up in the itinerary.</li>
          <li>Name/search - The name of the destination
            <ul>
              <li>Touch this column in a row to alter your itinery (set a camp, flag a scout, 
                indicate a spot to hike...). An icon indicates that the item has been selected.
                A second touch on a campsite will indicate a layover day and a third touch will deselect it.</li>
                <li>Touch the column header to display a dialog to filter the list.</li>
                <li>A badge on the Destinations icon in the bottom toolbar indicates the number of camps
                  that have been selected. Since a 16 day trip actually only has 15 nights, selecting the 
                  camp at Lee's Ferry makes it a little easier to remember and not have to "make miles" 
                  later in the trip.
                </li>
            </ul>
          </li>
          <li>Sunshine - Shows times of direct sun in camps if camps are shown.</li>
          <li>Notes - Additional info on the item. E.g. sunshine details, hike details.</li>
        </ul>
        <div class="indent">
          Constraints:<ul>
            <li>The items between Diamond and Pearce are filtered out if your take out is Diamond Creek.</li> 
            <li>River left camps in the Hualapai territory are disabled if you don't have a Hualapai permit.</li>
            <li>Exchange camps are also disabled near Phantom if your trip is not exchanging people there. There are
              also camps above Whitmore that are reserved for exchanges. But since that is specific to commercial 
              helicopters, the camps are disabled. If a commercial company is using this app, let me know, and I'll
              add configuration options for shorter trip durations and enable the camps.
            </li>
          </ul>
        </div>
      </div>
    </li>
    <li><span class="pageConfig">Itinerary</span>
      <div class="indent">Lists the selected items from the destinations.
        <ul>
          <li>It also shows the current phase of the moon at each campsite</li>
          <li>Touch a row to display a dialog with some details of the item as
            well as a place to jot down some notes. A pencil icon indicates that notes have been created for 
            the item.
          </li>
          <li>Day&Mile - Mileages touch column header to switch views
            <ul>
              <li>View 1 - Camp numbers and mile marker for each item</li>
              <li>View 2 - Camp numbers, mile markers for camps and distance between camps</li>
            </ul>
          </li>
          <li>Name/search - The name of the destination
            <ul>
              <li>Touch the column header to display a dialog to filter the list</li>
            </ul>
          </li>
        </ul> 
      </div>
    </li>
    <li><span class="pageConfig">Duty Roster</span>
      <div class="indent">Currently hard coded for my trip. This item still needs significant work.
      </div>
    </li>
    <li><span class="pageConfig">Trip Log</span>
      <div class="indent">Allows modification of a running log. Similar to notes, but not associated
        with a specific item in the list. There's currently only one entry that gets updated. This is 
        new, so it's possible that a future version might generate one entry per day.
      </div>
    </li>
    <li><span class="pageConfig">Tide Table</span>
      <div class="indent">Shows approximate time when the flow will arrive at several places in the river corridor.
         This is another area that still needs significant work. But I've just found a paper that provides more 
         detail, and so I might have a start. This is so much more complicated that it seems at first throught.
      </div>
    </li>
    <li><span class="pageConfig">Share</span>
      <div class="indent">Save your configuration and send it to someone. Or load a saved configuration.</div>
   </li>
  </ol>

  <p>If you have suggestions, please feel free to let me know at bluesotar@hotmail.com</p>
  
</div>