<mat-dialog-content>

  <div class="detailGroup">
    <fieldset>
      <legend>Item details</legend>
      <div class="field-group">

        <div class="field-group-cell name"><h4>Name</h4></div>
        <div class="field-group-cell value">{{mapItem.name}}</div>
      
        <div class="field-group-cell name"><h4>Mile</h4></div>
        <div class="field-group-cell value">{{mapItem.mile}}</div>
      
        <div class="field-group-cell name"><h4>Type</h4></div>
        <div class="field-group-cell value">{{typeName}}</div>

        <div class="field-group-cell name" *ngIf="mapItem.side"><h4>Side</h4></div>
        <div class="field-group-cell value" *ngIf="mapItem.side">{{mapItem.side == 'R'? 'River Right' : 'River-Left'}}</div>

        <div class="field-group-cell name" *ngIf="mapItem.type === 'R'"><h4>Class</h4></div>
        <div class="field-group-cell value" *ngIf="mapItem.type === 'R'">{{mapItem.size}}</div>

        <div class="field-group-cell name" *ngIf="mapItem.type !== 'R' && mapItem.size > ''"><h4>Size</h4></div>
        <div class="field-group-cell value" *ngIf="mapItem.type !== 'R' && mapItem.size > ''">{{mapItem.size}}</div>

        <div class="field-group-cell name"><h4>Page</h4></div>
        <div class="field-group-cell value">{{mapItem.page}}</div>

        <div class="field-group-cell name"><h4>Notes</h4></div>
        <div class="field-group-cell value">{{mapItem.notes}}</div>

      </div>
    </fieldset>
    <mat-hint>Page is from 8th Edition River Map</mat-hint>
  </div>

  <div class="detailGroup" *ngIf="mapItem.hike">
    <fieldset>
      <legend>Hike data</legend>
      <div class="field-group">

        <div class="field-group-cell name"><h4>Number</h4></div>
        <div class="field-group-cell value">{{mapItem.hike.number}}</div>

        <div class="field-group-cell name"><h4>Duration</h4></div>
        <div class="field-group-cell value">{{mapItem.hike.duration}}</div>

        <div class="field-group-cell name"><h4>Difficulty</h4></div>
        <div class="field-group-cell value">{{mapItem.hike.difficulty}}</div>

        <div class="field-group-cell name"><h4>Description</h4></div>
        <div class="field-group-cell value">{{mapItem.hike.description}}</div>

      </div>
    </fieldset>
    <mat-hint>Hike descriptions from "Day Hikes from the Canyon", by Tom Martin</mat-hint>
  </div>

  <div class="detailGroup" *ngIf="mapItem.wpt">
    <fieldset>
      <legend>Waypoint data</legend>
      <div class="field-group">

        <div class="field-group-cell name"><h4>Type</h4></div>
        <div class="field-group-cell value">{{mapItem.wpt.type}}</div>

        <div class="field-group-cell name"><h4>Lat</h4></div>
        <div class="field-group-cell value">{{mapItem.wpt.geometry.coordinates[0]}}</div>

        <div class="field-group-cell name"><h4>Lon</h4></div>
        <div class="field-group-cell value">{{mapItem.wpt.geometry.coordinates[1]}}</div>

        <div class="field-group-cell name"><h4>Name</h4></div>
        <div class="field-group-cell value">{{mapItem.wpt.properties.name}}</div>

      </div>
    </fieldset>
  </div>

  <div class="detailGroup">
    <fieldset>
      <legend>Journal entry</legend>
      <div class="field-group">

        <div class="field-group-cell name"><h4>Created</h4></div>
        <div class="field-group-cell value">{{noteData?.created | date:'longDate'}}</div>

        <div class="field-group-cell name"><h4>Last Update</h4></div>
        <div class="field-group-cell value">{{noteData?.lastUpdate | date:'longDate'}}</div>
      </div>

        <form>
          <mat-form-field>
            <mat-label>Notes</mat-label>
            <textarea matInput placeholder="Notes" name="notes" #notes [(ngModel)]="noteData.text" lines="10">
            </textarea>
          </mat-form-field>
        </form>
    
    </fieldset>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <div class="detailGroup">
    <button mat-flat-button (click)="done()" color="primary" id="saveNotes" aria-label="Save Notes">Save</button>
    <button mat-stroked-button (click)="close()" color="basic" aria-label="Close without saving">Close</button>
    <button mat-stroked-button (click)="addTS()" color="basic" aria-label="Add timestamp">Add Time</button>
    <button mat-stroked-button (click)="clear()" color="warn" aria-label="Clear entry">Clear</button>
  </div>
</mat-dialog-actions>
