<div  class="nav-container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="nav-toolbar">
    <button mat-icon-button (click)="snav.toggle()" aria-label="Menu button"><mat-icon>menu</mat-icon></button>
    <span class="nav-app-name">{{title}}</span>
    <span class="spaced-out"></span>
    <span class="topOptions">
      <mat-icon *ngFor="let nav of topNavOptions" class="material-icons" 
        routerLink="{{nav.route}}" (click)="setTitle(nav.title)">{{nav.icon}}</mat-icon>
    </span>
  </mat-toolbar>
  <mat-sidenav-container class="nav-sidenav-container"
      [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a *ngFor="let nav of navOptions" mat-list-item routerLink="{{nav.route}}" 
          (click)="setTitle(nav.title)">{{nav.text}}</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="app-content">
        <router-outlet></router-outlet>
      </div>
      <mat-toolbar class="bottom-toolbar" color="primary">
        <mat-icon *ngFor="let nav of bottomNavOptions" class="material-icons bottomOptions" 
          routerLink="{{nav.route}}" (click)="setTitle(nav.title)"
          matBadge="{{nav.badgeValue > 0 ? nav.badgeValue : null }}" matBadgeColor="{{nav.badgeColor}}">{{nav.icon}}</mat-icon>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
