.nav-toolbar {
  padding-left: 0px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.app-content {
  margin-left: 5px;
  margin-right: 5px;
}
.is-mobile .nav-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}
h1.nav-app-name {
  margin-left: 8px;
}
.nav-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.topOptions {  
  display: flex;
  justify-content: space-between;
}

.bottom-toolbar {  
  position: fixed;
  bottom: 0; 
  z-index: 2;
  display: flex;
  justify-content: space-around;
//  padding: 1em;
}
