<div class="content">
  <form >
    <div>
      <fieldset>
        <legend>Data Option</legend>
        <span>
          <ul>
            <li *ngFor="let option of options">
              <mat-checkbox [(ngModel)]="option.selected"
                            [color]="option.color">
                {{option.name}}
              </mat-checkbox>
            </li>
          </ul>
        </span>
      </fieldset>     
    </div>
      
    <mat-form-field>
      <textarea matInput placeholder="Data" name="jsonData" 
        [(ngModel)]="data" lines="20">
      </textarea>
    </mat-form-field>
  </form>

  <button mat-flat-button (click)="load()" color="primary" aria-label="Load configuration">Load</button>
  <button mat-flat-button (click)="save()" color="primary" aria-label="Save configuration">Save</button>
  <button mat-flat-button (click)="copy()" color="primary" aria-label="Copy configuration to clipboard">Copy</button>

  <div class="reset-button">
    <fieldset>
      <legend>Data Reset</legend>
      <button mat-flat-button (click)="reset()" color="warn" aria-label="Reset configuration to defaults">Reset All Stored Data</button> 
      <p>This option is not reversible. It is here as a to help with troubleshooting</p>
    </fieldset>
  </div>

</div>
