mat-radio-button {
    margin: 5px;
}

textarea {
    height: 300px;
    color: #000;
}
button {
    margin-right: 10px;
}
.mat-form-field {
    display: inline;
}
.reset-button {
    margin-top: 20px;
}
ul {
    list-style-type: none;
    margin-top: 4px;
}