.menuItem {
    padding-left: 5px;
    list-style-type: none;
}
.menu {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}
.page-title { /* emulate h3 */
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.javascript-disabled {
    color: #b45f06; 
    font-family: Helvetica; 
    margin: 2rem;
}
.section-title { /* emulate h4 */
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
