.action {
    width: 75px;
}
.filterOption {
    width: 125px;
}
#search {
    width: 100px;
    padding-left: 10px;
}
.content {
    padding: 0 0 0 10px;
}
.river-left {
    text-align: left;
}
.river-right {
    text-align: right;
}
.river-center {
    text-align: center;
}

.data-table {
    margin-left: -5px;
    margin-right: -5px;
    padding: 0 0 64px;
}
.listIcon {
    width: 28px;
    height: 28px;
    text-align: right;
    margin-bottom: -8px;
}
.listItem {
    height: 42px;
    vertical-align: middle;
}
.listItemText {
    margin-left: 5px;
    font-size: 14px;
    display: inline;
}
