<div>
  <div class="content">
    <mat-form-field>
      <mat-label>Type filters</mat-label>
      <mat-select [formControl]="types" multiple (selectionChange)="setFilter()">
        <mat-select-trigger>
          {{(types?.value?.length > 0) ? types?.value[0].name : 'All types'}}
          <span *ngIf="types?.value?.length > 1">
            (+{{types?.value?.length - 1}} {{types?.value?.length === 2 ? 'other' : 'others'}})
          </span>
        </mat-select-trigger>
        <mat-option *ngFor="let type of typeOptions" [value]="type">{{type.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <!-- <mat-form-field id="search">
      <mat-label><mat-icon>search</mat-icon></mat-label>
      <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterValue" #input>
    </mat-form-field> -->
  </div>
  <div class="data-table">
    <table mat-table [dataSource]="listItems" class="mat-elevation-z8">
      <!-- Distance Column -->
      <ng-container matColumnDef="distance">
        <th mat-header-cell *matHeaderCellDef>Miles<br/>from</th>
        <td mat-cell *matCellDef="let item" (click)="setFromMile($event, item.mapItem.mile)"> {{item.mileage <= 0 ? '' : item.mileage.toFixed(1)}} </td>
      </ng-container>
      <!-- Mile Column -->
      <ng-container matColumnDef="mile">
        <th mat-header-cell *matHeaderCellDef>Mile/<br/>(Info)</th>
        <td mat-cell *matCellDef="let item; let i = index" (click)="goBeta(item.mapItem.id, item.mapItem.name, i)"> {{item.mapItem.mile.toFixed(1)}} </td>
      </ng-container>
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name <span (click)="search()" class="material-icons listIcon">{{filterValue === '' ? 'search' : 'clear'}}</span></th>
        <td mat-cell *matCellDef="let item; let i = index" [ngClass]="[item.class, item.sideClass]" (click)="selectItem($event, i)">
          <div class="listItemText">
            <span *ngIf="item.mapItem.size && item.mapItem.size.length > 0">({{item.mapItem.size}})</span>
            {{item.mapItem.name}}
          </div>

          <mat-icon class="listIcon" title="Exchange camp" 
                  *ngIf="item.mapItem.subTypes?.includes(EXCHANGECAMP)">swap_vert</mat-icon>
          <!-- <img src="../../assets/icons/exchange-512x512.png" class="listIcon" title="Exchange camp"
                  *ngIf="item.mapItem.subTypes?.includes(EXCHANGECAMP)" /> -->

          <img src="../../assets/icons/sun-symbol-512x512.png" class="listIcon" title="Tribal lands, permit required" 
                  *ngIf="item.mapItem.subTypes?.includes(TRIBAL)" />

          <mat-icon class="listIcon" title="Favorite or Point of Interest" 
                  *ngIf="item.mapItem.subTypes?.includes(POI)">star_outline</mat-icon>
          <!-- <img src="../../assets/icons/star-512x512.png" class="listIcon" title="Favorite or Point of Interest" 
                  *ngIf="item.mapItem.subTypes?.includes(POI)" /> -->

          <mat-icon class="listIcon" title="Notes have been entered for this item" 
                  *ngIf="item.class.includes('hasNote')">edit</mat-icon>
          
          
          <mat-icon class="listIcon" title="Camping here" 
                  *ngIf="item.action==='C' || item.action==='L'">nightlight_round</mat-icon>
          <!-- <img src="../../assets/icons/camp-512x512.png" class="listIcon" title="Camping here" 
                  *ngIf="item.action==='C' || item.action==='L'" /> -->
          <mat-icon class="listIcon" title="Layover here" 
                  *ngIf="item.action==='L'">nightlight_round</mat-icon>
          <!-- <img src="../../assets/icons/camp-512x512.png" class="listIcon" title="Layover here" 
                  *ngIf="item.action==='L'" /> -->

          <mat-icon class="listIcon" title="Scouting" 
                  *ngIf="item.action==='S' && item.mapItem.type==='R'">visibility</mat-icon>
          <!-- <img src="../../assets/icons/scout-512x512.png" class="listIcon" title="Scouting" 
                  *ngIf="item.action==='S' && item.mapItem.type==='R'" /> -->

          <mat-icon class="listIcon" title="Get or filter water" 
                  *ngIf="item.action==='S' && item.mapItem.type==='F'">local_drink</mat-icon>
          <!-- <img src="../../assets/icons/water-512x512.png" class="listIcon" title="Get or filter water" 
                  *ngIf="item.action==='S' && item.mapItem.type==='F'" /> -->

          <mat-icon class="listIcon" title="Hiking" 
                  *ngIf="item.action==='S' && item.mapItem.type==='H'">hiking</mat-icon>
          <!-- <img src="../../assets/icons/hike-512x512.png" class="listIcon" title="Hiking" 
                  *ngIf="item.action==='S' && item.mapItem.type==='H'" /> -->

          <mat-icon class="listIcon" title="Visitation" 
                  *ngIf="item.action==='S' && item.mapItem.type!=='H' && item.mapItem.type!=='F' && item.mapItem.type !== 'R'">local_see</mat-icon>
          <!-- <img src="../../assets/icons/visit-512x512.png" class="listIcon" title="Visitation" 
                  *ngIf="item.action==='S' && item.mapItem.type!=='H' && item.mapItem.type!=='F' && item.mapItem.type !== 'R'" /> -->

        </td>
      </ng-container>

      <!-- Sunshine Column -->
      <ng-container matColumnDef="sunshine" *ngIf="includeSun">
        <th mat-header-cell *matHeaderCellDef>Sunshine</th>
        <td mat-cell *matCellDef="let item" [ngClass]="item.class">
          {{item.sunrise ? item.sunrise : ''}}{{item.sunset ? '-'+item.sunset : ''}}</td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td mat-cell *matCellDef="let item" [ngClass]="item.class">{{item.mapItem.notes}} {{item.sunNotes}}</td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>   
    </table>
  </div>
</div>
