<mat-dialog-content>
    <mat-form-field id="search">
        <mat-label><mat-icon>search</mat-icon></mat-label>
        <input matInput [(ngModel)]="filterValue" #input cdkFocusInitial (keydown.Enter)="dialogRef.close(filterValue)">
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-flat-button [mat-dialog-close]="filterValue" color="primary" id="search" aria-label="Search">Search</button>
    <button mat-stroked-button (click)="dialogRef.close('')" color="warn" aria-label="Clear search">Clear</button>
</mat-dialog-actions>
