<div class="content">
  <h3>Duty Roster</h3>
  <table>
    <tr>
      <th></th>
      <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th>
      <th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th>
    </tr>
    <tr>
      <th>Food</th>	<td>Alex</td>	<td>Craig</td>	<td>Laurie</td>	<td>Nick</td>	<td>Karin</td>	<td>Dan</td>	<td>Steve</td>	<td>Lisa</td>	<td>Alex</td>	<td>Serena</td>	<td>Laurie</td>	<td>Nick</td>	<td>Carl</td>	<td>Dan</td>	<td>Steve</td>	<td>Lisa</td>
    </tr>
    <tr>
      <th>Groover</th>	<td>Steve</td>	<td>Lisa</td>	<td>Alex</td>	<td>Craig</td>	<td>Laurie</td>	<td>Nick</td>	<td>Carl</td>	<td>Dan</td>	<td>Steve</td>	<td>Lisa</td>	<td>Alex</td>	<td>Serena</td>	<td>Laurie</td>	<td>Nick</td>	<td>Carl</td>	<td>Dan</td>
    </tr>
    <tr>
      <th>Food</th>	<td>Karin</td>	<td>Dan</td>	<td>Steve</td>	<td>Lisa</td>	<td>Alex</td>	<td>Craig</td>	<td>Laurie</td>	<td>Nick</td>	<td>Carl</td>	<td>Dan</td>	<td>Steve</td>	<td>Lisa</td>	<td>Alex</td>	<td>Serena</td>	<td>Laurie</td>	<td>Nick</td>
    </tr>
    <tr>
      <th>Groover</th>	<td>Laurie</td>	<td>Nick</td>	<td>Karin</td>	<td>Dan</td>	<td>Steve</td>	<td>Lisa</td>	<td>Alex</td>	<td>Craig</td>	<td>Laurie</td>	<td>Nick</td>	<td>Carl</td>	<td>Dan</td>	<td>Steve</td>	<td>Lisa</td>	<td>Alex</td>	<td>Serena</td>
    </tr>
</table>
  <!-- <mat-stepper [linear]="false" #stepper [orientation]="(stepperOrientation | async)!">


    <mat-step label="Declare duties">
      <mat-label>
        Group the duties for the roster into sets so the teams will
        know what they need to do when assigned to each set.
      </mat-label>
      <div class="data-table">
        
        <table mat-table [dataSource]="dutyData.duties" class="mat-elevation-z8">
          <ng-container matColumnDef="active">
            <th mat-header-cell *matHeaderCellDef class="checkbox-cell-header table-header">Active</th>
            <td mat-cell *matCellDef="let item" class="checkbox-cell">
              <mat-checkbox [checked]="item.active" [(ngModel)]="item.active" (change)="setDuty()" ></mat-checkbox>
            </td>
          </ng-container>
          <ng-container matColumnDef="duty">
            <th mat-header-cell *matHeaderCellDef class="table-header">Duty</th>
            <td mat-cell *matCellDef="let item" class="input-cell">
              <input type="text" matInput [(ngModel)]="item.duty" (change)="setDuty()" />
            </td>
          </ng-container>
          <ng-container matColumnDef="set">
            <th mat-header-cell *matHeaderCellDef class="table-header">Set</th>
            <td mat-cell *matCellDef="let item" class="input-cell">
              <input type="text" matInput [(ngModel)]="item.set" (change)="setDuty()" />
            </td>
          </ng-container>
          <ng-container matColumnDef="description">
            <td mat-cell *matCellDef="let item" class="input-cell" colspan="3">
              <input type="text" matInput [(ngModel)]="item.description" (change)="setDuty()" />
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="dutiesColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: dutiesColumns;"></tr>   
        </table>
      </div>
    
      <div>
        <button mat-flat-button color="primary" aria-label="View the duty roster" (click)="stepper.selectedIndex = stepper.steps?.length;">&lt; Roster</button>
        <button mat-flat-button matStepperNext color="primary" aria-label="Go define teams" (click)="moveTo('teams')">Teams &gt;</button>
      </div>
    </mat-step>



    <mat-step label="Pick teams">
      <mat-label>
        Group the people on the trip into teams to assign to
        the duty sets.
      </mat-label>
      <div class="data-table">
        <table mat-table [dataSource]="dutyData.teams" class="mat-elevation-z8">
          <ng-container matColumnDef="boater">
            <th mat-header-cell *matHeaderCellDef class="table-header">Boater</th>
            <td mat-cell *matCellDef="let item" class="input-cell">
              <input type="text" matInput [(ngModel)]="item.boater" (change)="setTeam()" />
            </td>
          </ng-container>
          <ng-container matColumnDef="team">
            <th mat-header-cell *matHeaderCellDef class="table-header">Team</th>
            <td mat-cell *matCellDef="let item" class="input-cell">
              <input type="text" matInput [(ngModel)]="item.team" (change)="setTeam()" />
            </td>
          </ng-container>
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef class="table-header">Color</th>
            <td mat-cell *matCellDef="let item" class="input-cell">
              <input type="text" matInput [(ngModel)]="item.color" (change)="setTeam()" />
            </td>
          </ng-container>
    
          <tr mat-header-row *matHeaderRowDef="teamColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: teamColumns;"></tr>   
        </table>
      </div>
    
      <div>
        <button mat-flat-button matStepperPrevious color="primary" aria-label="Go back to define duties">&lt; Duties</button>
        <button mat-flat-button matStepperNext color="primary" aria-label="Define duty pattern" (click)="moveTo('pattern')">Pattern &gt;</button>
      </div>
  </mat-step>




  <mat-step label="Set pattern">
    <mat-label>
      Assign teams to each set for the first few days. The app will
      repeat those days for the rest of the unspecified days on the river.
    </mat-label>
    <div class="data-table">
      <table mat-table [dataSource]="dutyData.roster" class="mat-elevation-z8">

        <ng-container *ngFor="let disCol of rosterColumns; let colIndex = index" matColumnDef="{{disCol}}">
          <th mat-header-cell *matHeaderCellDef>{{getHeaderData(colIndex)}}</th>
          <td mat-cell *matCellDef="let ri" class="input-cell">
            <span *ngIf="colIndex===0">{{getCellData(ri, colIndex)}}</span>
            <input type="text" matInput [(ngModel)]="ri.teams[disCol]" style="width: 5em;" (change)="setPatternItem()" *ngIf="colIndex!==0"/>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="rosterColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: rosterColumns"></tr>
      </table>
    </div>
  
    <div>
      <button mat-flat-button matStepperPrevious color="primary" aria-label="Go back to define teams">&lt; Teams</button>
      <button mat-flat-button matStepperNext color="primary" aria-label="View duty roster" (click)="moveTo('roster')">Roster &gt;</button>
    </div>
  </mat-step>




  <mat-step label="View Roster">
    <mat-label>
      This is the resulting duty roster. Visit the previous steps to
      alter the assignments.
    </mat-label>
    <div class="data-table">
      <table mat-table [dataSource]="rosterData" class="mat-elevation-z8">
          
        <ng-container *ngFor="let disCol of rosterColumns; let colIndex = index" matColumnDef="{{disCol}}">
          <th mat-header-cell *matHeaderCellDef>{{getHeaderData(colIndex)}}</th>
          <td mat-cell *matCellDef="let ri">{{getCellData(ri, colIndex)}}</td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="rosterColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: rosterColumns"></tr>
      </table>
    </div>
    <div>
      <button mat-flat-button matStepperPrevious color="primary" aria-label="Go back to define the duty pattern">&lt; Pattern</button>
      <button mat-flat-button color="primary" aria-label="Go back to define duty sets" mat-button (click)="stepper.selectedIndex = 0;">Duties &gt;</button>
    </div>
  </mat-step>
  </mat-stepper>  -->
   

  <p>Here are a few things to keep in mind:</p>

  <ul>
    <li>
      A group's duties start with dinner at whatever Camp we are at, and then
      the following morning's breakfast and the next day's lunch on river.
    </li>
    <li>The food crew has Campsite Selection Priority.</li>
    <li>On days 0 and {{daysOnTheWater}}, everyone pitches in.</li>
    <li>
      If you are not on duty and someone asks you for help, please do your best
      to help them.
    </li>
    <li>
      If you see something that needs to be done, please don’t wait for someone
      else to do it or for someone to ask you to do it. Just do it. This is the
      attitude people take to make this all work spendidly.
    </li>
  </ul>

  <span class="section-title">Duties</span>

  <table>
    <thead>
      <tr>
        <th>Duties</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Groover</td>
        <td>
          <ul>
            <li>Choose site</li>
            <li>Setup</li>
            <li>Teardown</li>
            <li>maintenance (i.e. refill supplies and handwash as needed)</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Hulk</td>
        <td><ul><li>Smash cans</li></ul></td>
      </tr>
      <tr>
        <td>Anchor</td>
        <td><ul><li>Secure the boats for the night (tie to the canyon)</li></ul></td>
      </tr>
      <tr>
        <td>Ashes</td>
        <td><ul><li>Ash disposal in the morning if there was a DO used for dinner</li></ul></td>
      </tr>
      <tr>
        <td>Food</td>
        <td>
          <ul>
            <li>Starts with Dinner at the new camp and continues through Lunch the next day.</li>
            <li>Dinner - Prepare dinner. Set up the trash and recycle bags. Smash cans as needed. Close up & secure at night. Set up dish line.</li>
            <li>Breakfast - Up early to make coffee, then breakfast. Prep dish line.</li>
            <li>Lunch - Prep lunch during breakfast, with no cooler access at lunch time. Pull it out at lunch time. Pull out dirty dishes upon arrival at camp.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Water</td>
        <td><ul><li>Make sure we have enough water. Filter more water, if needed.</li></ul></td>        
      </tr>
      <tr>
        <td>Dishes</td>
        <td>
          <ul>
            <li>Do your own and some from the kitchen.</li>
            <li>Get water for dishline and strain it after dishes are done.</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>Kitchen setup and teardown</td>
        <td><ul><li>This is everyones responsibility and is done before handling of personal gear.</li></ul></td>
      </tr>
    </tbody>
  </table>
</div>
