table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid silver;
}
.app-content {
    margin-left: 0px;
    margin-right: 0px;
}
  
.checkbox-cell {
    text-align: center;
}
.input-cell {
    padding: 4px;
}

.table-header {
    text-align: center;
}
.checkbox-cell-header {
    padding-left: 10px !important;
    padding-right: 10px;
}
td.mat-cell, td.mat-cell:first-of-type, td.mat-cell:last-of-type {
    padding: 4px;
}
th.mat-header-cell, th.mat-header-cell:first-of-type, th.mat-header-cell:last-of-type {
    padding: 10px;
}
tr.mat-header-row {
    height: 40px;
}
tr.mat-row {
    height: inherit;
}
.data-table {
    margin-left: 0px;
    padding: 15px 0px;
}
button {
    margin-right: 10px;
}
