@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Define color map
$canyon-brown: (
    50: #fcf2e0,
    100: #f8ddb1,
    200: #f3c77f,
    300: #eeb14c,
    400: #e99205,
    500: #cf5100,
    600: #e58605,
    700: #df7800,
    800: #d96900,
    900: #eba127,
    A100: #af5f02,
    A200: #ba7308,
    A400: #c08010,
    A700: #c68d18,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);
// f4ae36
textarea {
    background-color: #e8ccb0 !important
}

// Define the default theme (same as the example above).
$canyon-app-primary: mat-palette($canyon-brown);
$canyon-app-accent:  mat-palette($canyon-brown, A200, A100, A400);
$canyon-app-theme:   mat-light-theme($canyon-app-primary, $canyon-app-accent);
// $canyon-app-theme:   mat-light-theme($canyon-app-primary, $mat-brown);

// Include the default theme styles.
@include angular-material-theme($canyon-app-theme);


// Define an alternate dark theme.
$dark-primary: mat-palette($mat-brown);
$dark-accent:  mat-palette($mat-orange, A200, A100, A400);
$dark-warn:    mat-palette($mat-yellow);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

// Include the alternative theme styles inside of a block with a CSS class. You can make this
// CSS class whatever you want. In this example, any component inside of an element with
// `.canyon-dark-theme` will be affected by this alternate dark theme instead of the default theme.
.canyon-dark-theme {
  @include angular-material-theme($dark-theme);
  td.mat-cell {
    border-right-color: hsla(0,0%,100%,.12);
    border-right-width: 1px;
    border-right-style: solid;
  }
  .mat-form-field-suffix {
    color: hsla(0,0%,100%,.7);  
  }
}
