/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif, "Helvetica Neue", sans-serif; 
}

FIELDSET {
    margin: 10px 0;
    border: 1px solid silver;   
    border-radius: 6px;
}
LEGEND{
    padding: 2px;    
}

.river-side {
    float: right;
}
.content {
    padding: 0px 0px 64px 0px;
}
.appBackground {
    background-color: #b45f06;
}

.problemOnPage {
    border-left: 3px solid red;
}

.camp-type {
    background-color: #ffcc99;
    color: #000 !important;
}
.rapid-type {
    background-color: #ff0000;
    color: #fff !important;
}
.hike-type {
    background-color: #b45f06;
    color: #fff;
}
.water-type {
    background-color: #0000ff;
    color: #fff !important;
}
.geology-type {
    background-color: #7f007f;
    color: #fff !important;
}
.source-type {
    background-color: #ccffff;
    color: #000 !important;
}
.manmade-type {
    background-color: grey;
    color: #fff !important;
}
.poi-type {
    background-color: #ffff99;
    color: #000 !important;
}
.canyon-type {
    background-color: #397946;
    color: #fff !important;
}

a:link {
    color: #a70202;
}
a:hover {
    color: #a70202;
}
a:visited {
    color: #a70202;
}
a:active {
    color: black;
}
.canyon-dark-theme a:link {
    color: sandybrown;
}
.canyon-dark-theme a:hover {
    color: sandybrown
}
.canyon-dark-theme a:visited {
    color: sandybrown
}
.canyon-dark-theme a:active {
    color: white;
}

.spaced-out {
    flex: 1 1 auto;
  }
/* 
https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=FF6F00&secondary.color=935252
*/
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(assets/icons/material-icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
}