<div class="content">
  <!-- <mat-form-field>
    <mat-label><mat-icon>search</mat-icon></mat-label>
    <input matInput (keyup)="applyFilter($event)" [(ngModel)]="filterValue" #input>
  </mat-form-field> -->
  <div class="data-table">
    <table mat-table [dataSource]="listItems" class="mat-elevation-z8">
      <ng-container matColumnDef="miles">
        <th mat-header-cell *matHeaderCellDef (click)="mileView = !mileView">Day &<br/>Mile</th>
        <td mat-cell *matCellDef="let item" [ngClass]="item.class">
          <div *ngIf="mileView === false">
            <span *ngIf="item.action==='C' || item.action==='L' || (item.mapItem.type==='M' && item.mapItem.mile===225.9)">
              {{item.day}}<br/>
            </span>
            <span *ngIf="item.action==='C' || (item.mapItem.type==='M' && item.mapItem.mile===225.9)">
              <br/>{{item.distance ? item.distance.toFixed(1) : ""}}
            <!-- <span> -->
              {{item.mapItem.mile.toFixed(1)}}
            </span>
          </div>
          <div *ngIf="mileView === true">
            <span *ngIf="item.action==='C' || item.action==='L' || (item.mapItem.type==='M' && item.mapItem.mile===225.9)">
              {{item.day}}<br/>
            </span>
            <!-- <span *ngIf="item.action==='C' || (item.mapItem.type==='M' && item.mapItem.mile===225.9)">
              <br/>{{item.distance ? item.distance.toFixed(1) : ""}} -->
            <span>
              {{item.mapItem.mile.toFixed(1)}}
            </span>
          </div>
        </td>
      </ng-container>
      <ng-container matColumnDef="place">
        <th mat-header-cell *matHeaderCellDef>Name <span (click)="search()" class="material-icons listIcon">{{filterValue === '' ? 'search' : 'clear'}}</span></th>
        <!-- <th mat-header-cell *matHeaderCellDef>Name</th> -->
        <td mat-cell *matCellDef="let item" [ngClass]="[item.class, item.sideClass]">
          {{item.mapItem.name}}
          <!-- <span *ngIf="item.mapItem.side">-{{item.mapItem.side}}</span> -->
          <mat-icon class="listIcon" title="Notes have been entered for this item" 
                  *ngIf="item.class.includes('hasNote')">edit</mat-icon>
          <img src="../../assets/icons/exchange-512x512.png" class="listIcon" title="Exchange camp" *ngIf="item.mapItem.subTypes[1] === EXCHANGECAMP" />
          <img src="../../assets/icons/sun-symbol-512x512.png" class="listIcon" title="Tribal lands, permit required" *ngIf="item.mapItem.subTypes[0] === TRIBAL" />
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="sun">
        <th mat-header-cell *matHeaderCellDef>Sunshine</th>
        <td mat-cell *matCellDef="let item" [ngClass]="item.class">
          <span *ngIf="item.sunrise">{{item.sunrise}}{{item.sunset ? '-'+item.sunset : ''}}</span>
        </td>
      </ng-container> -->
      <!-- <ng-container matColumnDef="tide">
        <th mat-header-cell *matHeaderCellDef>Tide-<br/>rise</th>
        <td mat-cell *matCellDef="let item" [ngClass]="item.class">{{item.tideRises}}</td>      
      </ng-container> -->
      <ng-container matColumnDef="moon">
        <th mat-header-cell *matHeaderCellDef>Moon</th>
        <td mat-cell *matCellDef="let item" [ngClass]="item.class" class="moonImage">
          <span *ngIf="item.moonImage" [innerHTML]="safetyFirst(item.moonImage)"></span>
        </td>
      </ng-container>
      <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td mat-cell *matCellDef="let item" [ngClass]="item.class">{{item.mapItem.notes}} {{item.sunNotes}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; let i = index; columns: displayedColumns;" [ngClass]="[row.class, 'listItem']" (click)="goNotes(row.mapItem.id, row.mapItem.name, i)"></tr>   
    </table>
  </div>
</div>
