.notes {
    font-size: smaller;
}
.hasNote {
    border-right: inherit;
}
.listItem {
    height: 42px;
}
.listIcon {
    width: 20px;
    height: 20px;
    text-align: right;
}
.river-left {
    text-align: left;
}
.river-right {
    text-align: right;
}
.river-center {
    text-align: center;
}
.moonImage {
    width: 40px;
    text-align: center;
}
.data-table {
    margin-left: -5px;
    margin-right: -5px;
    padding: 0 0 64px;
}
